server:
  port: 8081
spring:
  datasource:
    username: root
    password:
    url: jdbc:mysql://localhost:3306/rizky_test?createDatabaseIfNotExist=true&autoReconnect=true&serverTimezone=Asia/Jakarta
  jpa:
    database: MYSQL
    show-sql: false
    hibernate:
      ddl-auto: update
      debug: true